<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="billbook add" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-primary">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-5 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active text-white-50 col" aria-current="page" href="/librarian">Home</a>
        </li>
        <li class="nav-item col">
          <a class="button nav-link text-white-50 col" href="/book/all">Books</a>
        </li>
        <li class="nav-item col">
          <a class="button nav-link text-white-50 col" href="/borpaper/all">Borpaper</a>
        </li>
        <li class="nav-item col">
          <a class="button nav-link text-white-50 col" href="/billbook/all">Billbook</a>
        </li>
        <li class="nav-item col">
          <a class="button nav-link text-white-50 col" href="/boraction/all">Boraction</a>
        </li>
        <!--                <li class="nav-item">-->
        <!--                    <a class="nav-link text-bg-primary" href="/admin/Reader">Reader</a>-->
        <!--                </li>-->
      </ul>
      <div>
        <a class="nav-link text-white-50 position-relative" href="/logout">Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>
<div class="container my-5 col-6">
  <h4 class="text-center">Thêm hóa đơn mới</h4>
  <form class="col-md-4 offset-md-4" th:action="@{/billbook/saveBillbook}" method="post" th:object="${billbook}">
    <div class="mb-3">
      <label for="name" class="form-label">Mã hóa đơn : </label>
      <input type="text" class="form-control" id="id" name="id" th:field="*{id}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Tên sách : </label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Tên tác giả : </label>
      <input type="text" class="form-control" id="nameAuthor" name="nameAuthor" th:field="*{nameAuthor}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Năm xuất bản : </label>
      <input type="text" class="form-control" id="pubYear" name="pubYear" th:field="*{pubYear}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Mã nhà xuất bản : </label>
      <input type="text" class="form-control" id="publisherId" name="publisherId" th:field="*{publisherId}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Giá : </label>
      <input type="text" class="form-control" id="cost" name="cost" th:field="*{cost}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Số lượng : </label>
      <input type="text" class="form-control" id="amount" name="amount" th:field="*{amount}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Thành tiền : </label>
      <input type="text" class="form-control" id="price" name="price" th:field="*{price}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Tổng tiền : </label>
      <input type="text" class="form-control" id="totalCost" name="totalCost" th:field="*{totalCost}" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Mã thủ thư : </label>
      <input type="text" class="form-control" id="librarianId" name="librarianId" th:field="*{librarianId}" />
    </div>
    <button type="submit" class="btn btn-primary">Nhập</button>
  </form>
</div>
</body>
</html>