<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-primary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active text-white-50 col" aria-current="page" href="/librarian">Home</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/book/all">Books</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/borpaper/all">Borpaper</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/billbook/all">Billbook</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/boraction/all">Boraction</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link text-bg-primary" href="/admin/Reader">Reader</a>-->
                <!--                </li>-->
            </ul>
            <div>
                <a class="nav-link text-white-50 position-relative" href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5 col-6">
    <form method="post" th:action="@{/borpaper/aftertime}" th:object="${dateInput}">
        <div class="form">
            <label>Phiếu mượn sau ngày : </label>
            <input type="date" class="form-control" id="str" th:field="*{str}" required>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ngày mượn</th>
            <th scope="col">Ngày trả</th>
            <th scope="col">Hạn trả</th>
            <th scope="col">Note</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Mã thủ thư</th>
            <th scope="col">Mã độc giả</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b, i :${borpapers}">
            <td th:text="${b.id}"></td>
            <td th:text="${b.borDay}"></td>
            <td th:text="${b.retDay}"></td>
            <td th:text="${b.lastDay}"></td>
            <td th:text="${b.detail}"></td>
            <td th:text="${b.status}"></td>
            <td th:text="${librarianId[i.index]}"></td>
            <td th:text="${readerId[i.index]}"></td>
            <td>
                <form method="post" th:action="@{/borpaper/find/{id}(id=${b.id})}">
                    <button type="submit" class="btn btn-primary">Detail</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
