<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="librarianHome" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-primary">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active text-white-50 col" aria-current="page" href="/librarian/home">Home</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/book/all">Books</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/borpaper/all">Borpaper</a>
                </li>
                <li class="nav-item col">
                    <a class="button nav-link text-white-50 col" href="/billbook/all">Billbook</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white-50 position-relative" href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>
<div class="container my-5 col-6">
    <label>Mã thủ thư : </label>
    <span th:text="${librarian.id}"></span><br>
    <label>Tên thủ thư : </label>
    <span th:text="${librarian.name}"></span><br>
    <label>Mã căn cước : </label>
    <span th:text="${librarian.humanId}"></span><br>
    <label>Tên người dùng : </label>
    <span th:text="${librarian.username}"></span><br>
</div>
</body>
</html>